@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Тикай отсюдова</title>
</head>
<body>
<div>
    <h1>Ты не пройдешь!</h1>
    <a href="/Account/Login">Попробовать еще раз!</a>
</div>
</body>
</html>