<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Besperboiniki</title>
    <link rel="stylesheet" href="~/Content/Main.css"/>
</head>
<body>
<table class="navigation-table navigation-table-border">
    <tr>
        <td>
            <h3>
                <a href="/Home/Index">Бесперебойники</a>
            </h3>
        </td>
        <td>
            <h3>
                <a href="/AddUps/Index">Добавить безперебойник</a>
            </h3>
        </td>
        <td>
            <h3>
                <a href="/User/Index/">Список пользователей</a>
            </h3>
        </td>
        <td>
            <h3>
                <a href="/User/Edit/">Редактор пользователей</a>
            </h3>
        </td>
        <td>
            <h3>
                <a href="/Account/SignOut/">Выход</a>
            </h3>
        </td>
    </tr>
</table>

<div class="container body-content">
    <h1 style="text-align: center">Бесперебойники.рф</h1>
    @RenderBody()
    <hr/>
    <footer>
        <p style="text-align: center">&copy; @DateTime.Now.Date.Year - Bespereboiniki inc. </p>
    </footer>
</div>
@RenderSection("Scripts", required: false)
</body>
</html>